* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
    --paragraf-size: 16px;
}

body {
    background-color: var(--light-gray);
    font-family: 'Rubik';
    margin: 0 auto;
    max-width: 1440px;
}

.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 800px;
}

.comment {
    background-color: var(--white);
    display: grid;
    grid-template-areas:
        'like user reply'
        'like content content';
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: 100px 1fr;
    margin-bottom: 20px;
}

.comment__like-container {
    display: flex;
    flex-wrap: wrap;
    grid-area: like;
}

.comment__user-container {
    display: flex;
    grid-area: user;
}

.comment__content {
    grid-area: content;
}

.comment__reply-btn {
    grid-area: reply;
}

.add-comment {

    margin-top: 25px;
    width: 800px;
}

.add-comment__form {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
}


.add-comment .add-comment__avatar {
    margin: 30px 15px 0 25px;
    width: 5%;
}

.add-comment .add-comment__image {
    width: 100%;
}

.add-comment .add-comment__text {
    border: 1px solid var(--very-light-gray);
    border-radius: 10px;
    flex-basis: 75%;
    font-size: var(--paragraf-size);
    margin: 25px 0;
    padding: 10px 25px;
    resize: none;
}

.add-comment .add-comment__input:focus {
    outline-color: var(--light-grayish-blue);
}

.add-comment .add-comment__btn {
    background-color: var(--moderate-blue);
    border: none;
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    display: block;
    font-size: var(--paragraf-size);
    font-weight: 500;
    margin: 25px 15px 0 15px;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: 0.2s linear;
}

.add-comment .add-comment__btn:hover {
    opacity: 0.5;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-container .modal {
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 25px 20px;
    width: 20%;
}

.modal .modal__heading {
    color: var(--dark-blue);
    flex-basis: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.modal .modal__text {
    color: var(--dark-blue);
    flex-basis: 100%;
    font-size: 14px;
    margin: 0 55px 20px 0;
}

.modal .modal__cancel-btn {
    background-color: var(--grayish-blue);
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    flex-basis: 48%;
    padding: 10px 20px;
    text-transform: uppercase;
}

.modal .modal__delete-btn {
    background: var(--soft-red);
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    flex-basis: 48%;
    padding: 10px 20px;
    text-transform: uppercase;
}